header,
nav,
main,
footer {
  max-width: 80rem;
  margin: auto;
}
div.chaliceParent {
  grid-template-columns: 400px 400px;
  justify-content: center;
  section {
    padding: 15px;
    column-gap: 15px;
    img {
      width: 100%;
      height: auto;
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
    }
  } //End of child.
} //End of chaliceParent.

div.testimonyParent {
  display: grid;
  grid-template-rows: auto auto;
  gap: 40px;
  section {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
    column-gap: 30px;
    align-items: start;
    
    img {
      grid-column: 1;
      grid-row: 1 / 3;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
    h3 {
      grid-column: 2;
      grid-row: 1;
      margin: 0 0 15px 0;
    }
    p {
      grid-column: 2;
      grid-row: 2;
      margin: 0;
    }
  } //End of child.
} //End of testimonyParent.

footer {
  width: 100%;
}
