@import "normalize";

@import "variables";

@import "small";

@media only screen and (max-width: 34.9375rem) {
    @import "mobilemenu";
}
//In the last unit, we put media queries in the files themselves. This universal file allows us to do it here instead. It's much easier. 
@media only screen and (min-width: 35rem) {
    @import "medium";
}
@media only screen and (min-width: 60rem) {
    @import "large";
}
//End of media query section. 